# Specifies Node.js version using docker tag
# example: 22.15.0-bookworm
DOCKER_NODEJS_TAG=enter_docker_nodejs_tag

# Specifies Docker Network
# example: app_network
DOCKER_NETWORK=enter_docker_network

# Specifies Application Name for docker locate the your app directory
# Please clone your app repository inside ./app directory
# The path to your app should be like this: ./app/APP_NAME
# clone your repository: git clone git@gitlab.com:username/repository.git
# Enter only the cloned directory
# example: crm-app
APP_NAME=enter_your_app_name

# Specifies the port available on the host machine.
# This allows you to access the app from your browser at http://localhost:PORT
# example: 3000
PORT=enter_port

# Define the path to the main startup file for the Node.js application inside container
# This is used in the 'command' directive in the docker-compose.yml file
# example: src/index.js
APP_ENTRYPOINT=enter_app_entrypoint

# Defines the path for the application's health check endpoint
# example: health
HEALTHCHECK_PATH=enter_healthcheck_path
