# File: .gitignore
# Category: Config
# Description: Git ignore file to exclude files and directories from version control.
# Maintainer: ryumada

app/*
!app/README.md

.env
.env.backup*
.env.example.merge

docker-compose.yml
dockerfile
dockerfile.lockfile-generator

package*.json

# Generated Documentation
APP_ARCHITECTURE.md
ARCHITECTURE.md
REPO_MAP.md
